#descriptionBox{
    margin-top: 2rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#descStatsSection{
    margin-right: 4rem;
    max-width: 90%;
    /* overflow-x: hidden; */
}
#descStatsSection>.recharts-wrapper{
    transform: translateX(-3rem);
}

#descStatsSection>h1{
    text-align: left;
}

#descInfoSection{
    text-align: right;
    width: 16rem;
    max-width: 90%;
}
#descInfoSection>h1{
    text-align: right;
}

/* #descriptionBox>section>h1,#descriptionBox>section>p{
    text-align: left !important;
} */