#descriptionBox{
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#descStatsSection{
    margin-right: 4rem;
    max-width: 90%;
}

#descInfoSection{
    width: 16rem;
    max-width: 90%;
}

#descriptionBox>section>h1,#descriptionBox>section>p{
    text-align: left !important;
}