.fancyBlock{
    width: 10%;
    /* height: 20% */;
    display: flex;
    align-items: center;
    border-radius: 0.4rem;
    background-color: orange;
    border: 0.2rem solid grey;
    user-select: none;
}
.maxWidth36{
    max-width: 36rem;
    min-height:16rem;
    /* border-radius: 1rem; */
}
.minHeight14{
    min-height: 18rem;
}
.minHeight24{
    min-height: 24rem;
}
.fancyBlock>p{
    margin: 0 auto;
}
#deadBlock{
    
    top: calc(100% - 2rem) !important;
    background-color: green;
    transition: height, width 2s;
    height: 2rem !important;
    width: 1rem !important;
}
#reactionGame{
    position: relative;
    background-color: rgba(200,100,200,0.8)
}
.marginAuto{
    display: block;
    margin: 0 auto;
}
.overflowHidden{
    overflow: hidden;
}
.flexSpaceBetween{
    display: flex;
    justify-content: space-between;
}
.roundedBorder{
    border-radius: 0.4rem;
    border: 0.1rem solid grey;
}
