/* html, body, .App, #root{
    height: 100%;
} */
#welcomeBanner{
    flex: 1;
    background-image: linear-gradient(rgb(28, 115, 228),white);
    padding-top: 3rem;
}
.spaceBgFull{
    height: 100%;
    background-image: url('./space.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.horizontalGrid{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.callToAction{
    text-align: center;
    color: white;
    
}
.callToAction>h1{
    margin: 0.4rem;
    font-size: 2.8rem;
}
.callToAction>p{
    font-size: 2rem;
    margin: 0;
}
.linkButton{
    display: flex;
    align-items: center;
    padding: 0;
    width: 10rem;
    height: 2.8rem;
    /* border-radius: 0.4rem; */
    margin: 0 auto;
    background-color: rgba(100,100,100,0.4);
    border: 0.1rem solid black;
    color: black;
}
.linkButton>p{
    margin: 0 auto;
    font-size: 1.2rem;
}
.linkButton:hover{
    background-color: black;
    color: white !important;
    font-weight: bold;

}
#enterButton{
    margin-top: 2rem !important;
    text-decoration: none;
}

@media (min-width: 320px) and (max-width: 480px) {
    .mainScreen>div{
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: none;
    }
  }