#welcomeBanner {
    flex: 1;
    /* background-image: linear-gradient(rgb(28, 115, 228),white); */
    padding-top: 5rem;
}

.spaceBgFull {
    height: 100%;
    /* background-image: url('./space.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
    max-width: 90%;
    margin: 0 auto;
    width: 14rem;
    margin-bottom: 2rem;
}

.logo>img {
    width: 100%;
}

.horizontalGrid {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.callToAction {
    text-align: center;
    padding-bottom: 6rem;

}

.callToAction>h1 {
    margin: 0.4rem;
    font-size: 2.4rem;
}

.callToAction>p {
    font-size: 2rem;
    margin: 0;
}

#enterButton {
    margin-top: 2rem !important;
    text-decoration: none;
}

@media (max-width: 480px) {
    .mainScreen>div {
        width: 100%;
        margin: 0 auto;

    }

    #welcomeBanner {
        min-height: calc(100vh - 3rem);
    }

}