h2,
h3 {
  padding: 0;
  margin: 0;
}

/* BASE CLASSES */
.centerAll {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.flexColumnCenter {
  /* vertical flex center and avoid some flex side effects */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.margin0Auto {
  margin: 0 auto;
}

.marginAuto {
  margin: auto;
}

.noUserSelect {
  user-select: none;
}

.fillContainer {
  width: 100%;
  height: 100%;
}

.textCenter {
  text-align: center;
}

.textLeft {
  text-align: left;
}

.mainHover:hover {
  color: blue;
}

.pointer {
  cursor: pointer;
}

.noMargin {
  margin: 0;
}

.textUpper {
  text-transform: uppercase;
}

.overflowHidden {
  overflow: hidden;
}

/* END BASE CLASSES */




.topNav {
  height: 2.8rem;
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgb(240, 240, 240);
  padding: 0;
  /* background-color: rgba(252, 2, 252, 1); */
}

.navList {
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 60rem;
  padding: 0 !important;
}

.navList>.somePadding,
.userInfo>.somePadding {
  list-style: none;
  padding: 0.2rem 1rem 0.4rem 1rem;
  cursor: pointer;
}

.navList>.somePadding:hover,
.userInfo>.somePadding:hover {
  background-color: rgba(200, 200, 200, 0.4)
}

.gamesContainer {
  padding-top: 2.8rem;
}

.userInfo {
  margin-left: auto;
}


.gradientBackground {
  background-image: linear-gradient(blue, violet);
  background-size: cover;
}

.fullPageContainer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}



/* GAME SELECTION */
.fourPartGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  border-radius: 0.6rem;
}


.boxLink {

  padding: 3rem 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(200, 200, 200, 0.4);
  border-radius: 0.4rem;
}

.boxLink>p {
  display: block;
  width: 100%;
  text-align: center;

}

.undecoratedLink {
  text-decoration: none;
  color: black;

}

.boxLink>p {
  margin: 0 auto;
}

#GameOverview {
  width: 100%;
  padding: 3rem 0;
  margin: 0 auto;
  max-width: min(60rem, 94%);
}

.maxWidth60 {
  max-width: 60rem;
}

.hoverPushAnimation:hover {
  transition: 0.2s;
  transform: translateY(-0.2rem) scale(1.1);
  text-shadow: 0.2rem 0.2rem 0.3rem rgba(100, 100, 100, 0.7);
}

.inner {
  max-width: 60rem;
}


.linkButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 10rem;
  height: 2.8rem;
  margin: 0 auto;
  /* background-color: rgba(100,100,100,0.4);
  border: 0.1rem solid black; */

  background-color: violet;
  color: black;
}



.mainButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 1.2rem;
  border: 0.1rem solid white;
  width: 12rem;
  height: 3rem;
  z-index: 2;
  cursor: pointer;
}

.mainButton:hover {
  background-color: rgba(255, 255, 255, 1) !important;
  font-weight: bold;
  color: purple !important;
}


/* Route undef component */
#routeUndef {
  padding: 3rem;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  margin-top: 4rem;
  background-color: rgba(105, 201, 218, 0.466);
  text-align: center;
  border-radius: 1rem;
}


/* DESCRIPTION COMP */

#descriptionBox {
  margin-top: 2rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#descStatsSection {
  max-width: 100%;
  width: 32rem;
}

/* #descStatsSection>.recharts-wrapper{
  transform: translateX(-3rem);
} */

#descStatsSection>h1 {
  text-align: left;
}

#descInfoSection {
  text-align: right;
  /* width: 16rem; */
  max-width: 90%;
  padding-bottom: 4rem;
}

#descInfoSection>h1 {
  text-align: right;
}

/* #descriptionBox>section>h1,#descriptionBox>section>p{
  text-align: left !important;
} */


/* DESCRIPTION COMP END */

@media (min-width: 480px) and (max-width: 770px) {
  .fourPartGrid {
    margin: 0 auto;
    padding: 0;
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: unset;
    border-radius: 0;
  }

  #GameOverview {
    margin: 0 auto !important;
    padding-bottom: 2rem;
  }

  .fullContainer {
    min-height: 0 !important;
  }

  #descInfoSection {
    text-align: left;
    width: 90%;
    max-width: 90%;
  }

  #descInfoSection>h1 {
    text-align: left;
    margin: 0;
    padding: 0;
  }

}

@media (max-width: 480px) {
  .fourPartGrid {
    margin: 0;
    padding: 0;
    grid-template-rows: 1fr;
    grid-template-columns: unset;
    border-radius: 0;
  }

  .fourPartGrid .hoverPushAnimation:hover {
    transform: translateY(-0.4rem) scale(1.02);

  }

  #GameOverview {
    margin: 0 auto !important;
    padding-bottom: 2rem;

  }

  .fullContainer {
    min-height: 0 !important;
  }

  .topNav {
    font-weight: bold;
  }

  .userInfo>.somePadding {
    padding-left: 0;
    padding-right: 0;
  }

  .userInfo>p,
  .userInfo>a {
    margin: 0 1rem;
  }

  #userInfoWelcome {
    display: none;
  }

  #descInfoSection {
    text-align: left;
    width: 90%;
    max-width: 90%;
  }

  #descInfoSection>h1 {
    text-align: left;
    margin: 0;
    padding: 0;
  }

}

.maxWidth60 {
  margin: 0 auto;
  max-width: 60rem;
}


h1,
h3,
p {
  margin: 0;
  padding: 0;
}

.mainScreein>h1 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
}

.card {
  border-radius: 0.8rem;
  background-color: lightgrey;

}

.userStatsWrapper {
  margin: 0 auto;
  max-width: 94%;
}

.statsView {
  margin: 0 auto;
}

.welcomeUser {
  padding-top: 2.8rem;
  min-height: 14rem;
}


.topScore {
  padding: 3rem 0;
  background-color: rgba(147, 6, 212, 0.699);
}

.topScore>.mainButton {
  margin-top: 1rem;

}


.statsHeader {
  margin: 0.2rem 0 0 0;
}


.statsWrapperOuter {
  width: 100%;
}

.statsWrapperInner {
  transform: translateX(-1.5rem);
}

#dashboardChart {
  margin-top: 3rem;
}



#loadingScreen {
  min-width: 16rem;
  min-height: 12rem;
  height: 100%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 2.2rem;
  color: rgb(231, 231, 231);
}

.spinner {
  width: 5rem;
  height: 5rem;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
  margin-bottom: 2rem;
}

.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: rgb(231, 231, 231);
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg)
  }
}

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg)
  }
}

@-webkit-keyframes sk-bounce {

  0%,
  100% {
    -webkit-transform: scale(0.0)
  }

  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {

  0%,
  100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }

  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}