#historyTab{
}
#historyTab>p{
    font-size: 1.4rem;
    font-weight: bold;
}
#historyTab>div{
    display: grid;
    grid-template-columns: 40% 30% 30%;
}

#historyTab>div>p{
    text-align: center;
    margin: 0;
    padding: 0;
}
#historyTab>.historyHeader{
    padding: 0.5rem 0 1rem 0;
}