.welcomeUser{
    min-height: 14rem;
}

.topScore{
    min-height: 16rem;
}

.statsHeader{
    margin: 0.2rem 0 0 0;
}


.statsWrapperOuter{
    margin-top: 2rem;
    width: 100%;
}

.statsWrapperInner{
    transform: translateX(-1.5rem);
}