h1, h3, p{
    margin: 0;
    padding: 0;
}

.mainScreein>h1{
    margin: 0;
    padding: 0;
    font-size: 3rem;
}
.card{
    border-radius: 0.8rem;
    background-color: lightgrey;
    
}
.userStatsWrapper{
    margin: 0 auto;
    max-width: 94%;
}

.statsView{
    margin: 0 auto;
}

.welcomeUser{
    padding-top: 2.8rem;
    min-height: 14rem;
}

.topScore{
    padding: 3rem 0;
}

.topScore>.linkButton{
    margin-top: 1rem;
    
}


.statsHeader{
    margin: 0.2rem 0 0 0;
}


.statsWrapperOuter{
    margin-top: 3rem;
    width: 100%;
}

.statsWrapperInner{
    transform: translateX(-1.5rem);
}