#userContainer{
    width: 100%;
    /* grid-column: 2/3; */
}
#logSignContainer{
    z-index: 4;
    margin: 0 auto;
    padding: 2rem 0.5rem 3rem 0.5rem;
    box-sizing: border-box;
    max-width: 24rem; 
    /* background-color: rgba(100, 100, 100, 0.5); */
    /* background-color: rgb(44, 53, 104); */
    text-align: center;
    color: white;
    background-image: linear-gradient(darkblue, violet);
    border-radius: 1rem 1rem 1rem 1rem;
}
strong{
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.logInForm{
    margin: 0 auto;
    width: 100%;

    /* border-radius: 0.6rem; */
}
.logInForm>input{
    border-radius: 1rem;
    border: none;
    width: 86%;
    margin: 0.8rem 0 0 0;
    text-align: center;
    height:1.4rem;
}
.submitButton{
    border-radius: 1rem !important;
    background-color: white;
    color: black;
    height:2rem !important;
    margin-top: 1.4rem !important;
    font-size: 1.4rem;
    max-width: 10rem;
}
.logInForm>p{
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
}
@media (min-width: 320px) and (max-width: 480px) {
    .logInForm{
        max-width: 100% !important; 
        padding: 0 !important;
        background-color: transparent !important;
    }
    .logInForm>input{
        font-size: 1.3rem;
        height:1.6rem;
    }
    .submitButton{
        height:2.4rem !important;
    }
  }


  .statsView{
      background-color: red;
  }

