#userContainer{
    width: 100%;
    /* grid-column: 2/3; */
}
.logSignContainer{
    z-index: 4;
    margin: 0 auto;
    padding: 2rem 0.5rem 1rem 0.5rem;
    box-sizing: border-box;
    max-width: 24rem;
    text-align: center;
    color: white;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 8px 4px 14px 10px rgba(147, 6, 212, 0.699);
}
strong{
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.logInForm{
    margin: 0 auto;
    width: 100%;

    /* border-radius: 0.6rem; */
}
.logInForm>input{
    border-radius: 1rem;
    border: none;
    width: 86%;
    margin: 0.8rem 0 0 0;
    text-align: center;
    height:1.4rem;
}
.submitButton{
    cursor: pointer;
    border-radius: 2rem !important;
    background-color: white;
    color: black;
    height:2.2rem !important;
    margin-top: 1.4rem !important;
    font-size: 1.4rem;
    max-width: 10rem;
    transition: 0.2s ease-in-out;
}
.submitButton:hover{
    transform: scale(1.05);
    box-shadow: 2px 0 20px 2px rgb(22, 22, 207);
}

.logSignSwitch{
    color: rgb(247, 247, 247);
    margin-top: 1.8rem;
    font-size: 0.8rem;
}



.logInForm>h3{
    margin: 0.2rem 0 0.4rem 0;
    color: white;
    font-weight: bold;
    font-size: 1.8rem !important;
}

.confirmMail{
    min-width: 24rem;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.sendAgain{
    margin-top: 1.4rem;
}
#sendAgainButton{
    display: block;
    margin: 0.5rem auto 0 auto !important;
}

.errorMessage{
    position: absolute;
    top: 0.4rem;
    width: calc(100% - 1rem);
    margin: 0 auto;
    font-weight: bold;
}

.animationShake{
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0% { transform: translate(2px, 0); }
    25% { transform: translate(-2px, 0); }
    50% { transform: translate(2px, 0); }
    75% { transform: translate(-2px, 0); }
    100% { transform: translate(2px, 0); }
  }

@media (min-width: 320px) and (max-width: 480px) {
    .logInForm{
        max-width: 100% !important; 
        padding: 0 !important;
        background-color: transparent !important;
    }
    .logInForm>input{
        font-size: 1.3rem;
        height:1.6rem;
    }
    .submitButton{
        height:2.4rem !important;
    }
  }


  .statsView{
      background-color: red;
  }

